/*General*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: $paragraph-font;
}

body {
  background: rgb(240, 247, 214);
}


.btn {
  background-color: rgb(255, 123, 0);
  padding: 5px 10px;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.button-new {
  background-color: rgb(255, 123, 0);
  padding: 10px 15px;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}


/*Side menu*/
.sidebar-container {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 20;
  transition: visibility 0s, opacity 0.5s linear;
}


@keyframes .Xa13 {
  border: 0.1px solid yellow;
}

.sidebar {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgb(114, 98, 98);
}


.sidebar li {
  left: 0px;
  list-style: none;
  color: $side-font-color;
  margin: 10px;
}


ul img {
  width: 15px;
  margin: 0px 10px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}


a {
  color: $side-font-color;
  list-style: none;
  text-decoration: none;
}

a span:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1{
    font-family: $logo-font;
    color: $side-font-color;
    margin-right: 20px;
  }

  .fas {
    color: $side-font-color;
  }
}

.manager {
  color: $side-font-color;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  margin: 0px 20px 0px 20px;

  h1 {
    font-size: 18px;
  }

  img  {
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;
  }


}



.img-s::after{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #00f700;
}


.side-picture {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}


.container-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8% 22% 0% 22%;
  width: 70%;
  padding: 8rem 0px 8rem;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #000;
}


.show {

  display: none;

}


.input1 {
  border-radius: 0px 0px 0px 1555px;
  padding: 5px;
  border: 1px solid #111;
  font-size: 1px;
}

.input2 {
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  border: 1px solid #111;
  font-size: 15px;
}

.container-content-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 22% 0% 22%;
  width: 70%;
  padding: 8rem 0px 8rem;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #000;
}

.section-general-statistic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // margin-left: -150px;
  margin-top: -100px;
  // margin-right: 100px;
  background-color: white;
  width: 100%;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 40vh;
  width: 60vw;
  // margin-left: 100px;
  // margin-top: -100px;
  // margin-right: 100px;
}


.navigation {
  position: relative;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.navigation a {
  display: flex;
  align-items: center;
  color: #000;
}

.img {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 20px 20px 20px 20px;

  span {
    padding-left: 15px;
    padding-left: 15px;
  }
}

.navigation img {
  width: 20px;
}

/*table*/

.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem 0rem 4rem 0rem;
  // border: 1px solid #000;
}

.line-opaq {
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  padding-right: 69%;
}

.section-title {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 300px;
}

.data {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  padding: 0rem 30% 2rem 30%;

  .form-data {
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: left;
  }
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-right: 2rem;
}

.table-cell {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  // padding-left:0px ;
  // padding-right:250px ;
  width: 400px;
}

.table-cell span {
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
}

.content-section {
  display: flex;
  position: relative;
  flex-direction: column;
}

.line,
.link {
  color: #000;
}

.list {
  margin: 2rem;
}

.line {
  display: flex;
  flex-direction: row;
  color: #000;
  // margin-bottom:2rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  // padding:20px;
  // padding-right:250px ;
  width: 800px;
}

.list span {
  display: flex;
  // align-items: flex-start;
  padding: 20px;
}