/*General*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: $paragraph-font;
}

body {
  background: $background;
}

a {
  color: $light-grey;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: $light-grey;
}

a span:hover {
  text-decoration: none;
  color: $paragraph-color;
}

.img:hover {
  text-decoration: none;
  background-color: $orange;
  transition: 0.3s ease-out;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Content - 1nd splash */
.container-content,
.container-content2 {
  width: 95%;
  margin: 1rem 0rem 0rem 2rem;
  padding: 0rem 0rem 2rem;
  background: $white;
  box-shadow: 0px 0px 50px 0px $light-grey;
  @include fade;
}

.container-content:hover,
.container-content:active,
.container-content2:hover,
.container-content2:active,
.container-content2:active {
  box-shadow: 0px 0px 40px 0px rgba(185, 183, 183, 0.5);
}

.container-content.active,
.container-content2.active {
  position: relative;
  display: block;
  justify-items: left;
  align-items: left;
  margin: 1rem 0rem 0rem -20rem;
  padding-bottom: 2rem;
}

.input1 {
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  border: 1px solid $light-grey;
  font-size: 14px;
}

.input2 {
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  border: 1px solid $light-grey;
  font-size: 14px;
}

.container-content-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 22% 0% 22%;
  width: 70%;
  padding: 8rem 0px 8rem;
  background-color: $background;
  box-shadow: 0px 0px 50px 0px $light-grey;
}

.section-statistic,
.section-statistic2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  width: 100%;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
}

/*table*/

.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem 0rem 4rem 0rem;
}

.line-opaq {
  margin-bottom: 2rem;
  border-bottom: 1px solid $light-grey;
  width: 100%;
}

.section-title {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 300px;
  margin-top: 2rem;
}

.data {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid $light-grey;
  width: 100%;
  padding: 0rem 30% 2rem 30%;

  .form-data {
    display: flex;
    flex-direction: row;
    color: $white;
    align-items: left;
  }
}

.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-right: 2rem;
}

.table-cell {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  width: 400px;
}

.table-cell span {
  display: flex;
  justify-content: space-between;
}

.content-section {
  display: flex;
  position: relative;
  justify-items: center;
  justify-content: start;
  flex-direction: column;
  color: light-grey;
  // padding: 0 1rem 1rem;
  margin: $top-bar-offset 1rem 1rem $side-bar-offset;
  @include fade;

  .active {
    background: $white;
    left: 200px !important;
    width: 1250px;
  }
}

.line,
.link {
  color: $grey;
}

.list {
  margin: 2rem;
  border-collapse: collapse;
  border-top: 1px solid $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  flex-direction: row;
  color: $grey;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  width: 800px;
}

.line:hover,
.link:hover,
.trash a:hover,
.linkz a:hover {
  background: rgb(240, 247, 214);
  color: #5452a7;
}

.link a:hover {
  background: rgb(240, 247, 214);
  color: #5452a7;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list span {
  display: flex;
  padding: 20px;
}

/* Content - 2nd splash */

.trash {
  width: 15px;
  margin: 0px 10px;
}

.linkz {
  width: 20px;
  margin: 0px 10px;
}

.line a:hover {
  color: $light-grey !important;
}

.btn {
  background-color: $orange;
  padding: 5px 10px;
  color: $white;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 1s ease-in-out;
}

.button-new {
  background-color: $orange;
  padding: 10px 15px;
  color: $white;
  margin-left: 10px;
  border: 1px solid $orange;
  border-radius: 5px;
  transition: background-color 1s ease-in-out;
}

button:hover {
  background-color: $background;
  color: #5452a7;
  border: 1px solid $light-grey;
}

/*Sidebar*/

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #212121;
  color: $white;
  width: 220px;
  overflow-y: scroll;
  z-index: 99999;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.55);
  border-right: 1px solid $black;
  transition: 0.3s ease-out;
  overflow: hidden;
}

.sidebar {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;

  li {
    width: 100%;

    :focus {
      outline: none;
      outline-color: transparent;
    }
  }

  .sidebar-elements-anim {
    :focus {
      outline: none;
      outline-color: transparent;
    }
  }

  .short {
    transform: translateX($side-bar-closed);
  }

  .sidebar-item {
    display: flex !important;
    position: relative !important;
    justify-items: center !important;
    align-items: center !important;
  }

  .sidebar-svg {
    display: flex !important;
    position: relative !important;
    justify-items: center !important;
    align-items: center !important;
  }

  .svg {
    display: flex !important;
    position: relative !important;
    height: 15px;
    width: 15px;
    justify-items: center !important;
    align-items: center !important;
    filter: invert(10);
  }

  .sidebar-item {
    margin: 0 0;
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: (($side-bar-width - $side-bar-closed));
    background-color: inherit;
    
    @include fade;

    :hover {
      color: $white;
    }
    
    .active {
      color: $white;
      background: $grey;
    }

    p {
      color: $white;
      font-size: 18px;
      padding: 0 0;
      margin: 0 0;
      line-height: 100%;
    }

    .p-move {
      @include menu-item-fade-in;
    }

    .p-move.hide {
      transform: translateX(-$side-bar-closed);
      @include menu-item-fade-out;
      display: none;
    }
  }

  .sidebar-svg {
    width: ($side-bar-width * 0.3);
    @include flex-center;

    .active {
      border-left: 2px solid $orange;
    }

    div {
      align-self: center;
      height: auto;
      font-size: 1.2rem;
      color: inherit;
    }
  }
}

.sidebar-elements-anim {
  border-left: 5px solid rgba(0, 0, 0, 0);
}

.sidebar-elements-anim:hover {
  background: $grey;
  border-left: 5px solid $orange;
}

a.sidebar-item {
  :focus {
    outline: none;
    outline-color: transparent;
  }
}

.vanish {
  left: -150px;
}

.move {
  left: 140px;
}

.move-img {
  left: 134px;
  top: -8px;
}

.none {
  display: none;
}

.text-transparent {
  color: transparent;
}

.logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: $logo-font;
    color: $light-grey;
    margin-right: 20px;
  }

  .fas {
    color: $light-grey;
    transition: 0.3s ease-out;
  }
}

.fas:hover {
  color: $white;
  transition: 0.3s ease-out;
}

.fas:active {
  transition: 0.3s ease-out;
  transform: rotate(360deg);
}

.manager {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  margin: 0px 20px 0px 0px;
  width: 100%;
  padding: 0.5rem 0rem 1rem 0rem;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;


  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin: 0px 20px 0px 20px;
    font-size: 18px;

    .manager p {
      color: $light-grey !important;
    }
  }
}

.manager img {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  margin: 0px 10px 0px 20px;
}

.circ-s {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  background: $circle;
  border-radius: 50%;
  opacity: 1;
  content: "";
  top: 475px;
  left: 70px;
  transition: 0.5s all ease-in-out;
}

.movie-circ {
  position: absolute !important;
  left: 200px !important;
  top: 465px;
}

.moving {
  left: 180px;
  top: -100px;
}

.img-s-3 {
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 1;
  content: "";
  top: 63px;
  left: 0px;
  transition: 0.5s all ease-in-out;
}

.img-s-3::after {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  background: $circle;
  border-radius: 50%;
  margin: 0px 10px 0px 20px;
  opacity: 1;
  content: "";
  top: 5px;
  left: 49px;
  transition: 0.5s all ease-in-out;
}

.pseudo-circle img {
  max-width: 250px;
  height: auto;
  object-fit: cover;
  transition: 1s all linear;
  display: block;
}

.img-s-2 {
  margin: 0;
  padding: 0;
  position: relative;
}

.side-picture {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}


// Navigation

.navigation {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $light-grey;
  background-color: $white;
  width: 100%;
  z-index: 10;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.55);
  margin: 2rem 0rem;
  top: -35px;
  transition: 0.3s ease-out;
}

.navigation a {
  display: flex;
  align-items: center;
  color: $light-grey;
  transition: 0.3s ease-out;
}

.img-ex img {
  width: 20px;
  height: 20px;
}

span {
  padding-left: 15px;
  padding-right: 15px;
}

.navigation img {
  width: 20px;
}

.img {
  border-left: 1px solid $light-grey;
  padding: 20px 20px 20px 20px;
  
  span {
    color: black;
  }
}

.img-s::after {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 7px;
  height: 7px;
  background: $circle;
  content: "";
  top: 20px;
  left: 1067px;
  border-radius: 50%;
  transition: 0.5s all ease-in-out;
  position: absolute;
}


/*modal*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
  overflow: hidden;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: auto;
  display: none;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.modal,
.modal,
.modal-chat-header {
  margin-right: 40px;
}

.modal-chat-header {
  display: flex;
  height: 80px;
  align-content: left;
  justify-items: left;
  width: 100%;
}

.modal-chat-header .pseudo-circle {
  display: flex;
  height: 80px;
  align-content: center;
  justify-items: center;
}

.modal-chat-header-title {
  display: flex;
  justify-items: flex-start;
  position: relative;
  top: 40%;
  left: 0%;
}

.modal-chat-header .manager {
  margin-right: 0px;
  padding-right: 0;
}

.modal-chat-header .side-picture {
  display: flex;
  align-content: center;
  justify-items: center;
}

.title h3 {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  margin: 0 0;
  font-weight: 500;
  font-size: 18px;
}

.title,
.modal-chat-header {
  width: 100%;
}

.modal-container-inner {
  padding: 2rem 2rem;
}

.modal-chat-input-box {
  padding: 5px 10px;
  width: 100%;
  display: flex;
}

.modal-chat-box {
  margin: 0 0;
  padding: 0 0;
  width: 700px;
  max-height: 400px;
  overflow-y: scroll;
  background: rgb(240, 247, 214);
  border-radius: 15px 15px;
  box-shadow: inset 4px 4px 4px 1px $light-grey;
}

.modal-chat-box-sent {
  color: $white;
}

.modal-chat-box-sent {
  background-color: $light-grey;
  position: relative;
}

.modal-chat-box-received,
.modal-chat-box-sent {
  width: fit-content;
  padding: 7px 14px;
  margin: 1rem 1rem;
  border-radius: 5px;
}

.modal-chat-box-received,
.modal-chat-box-sent {
  width: fit-content;
  padding: 7px 14px;
  margin: 1rem 1rem;
  border-radius: 5px;
}

.modal-container {
  min-width: 700px;
  max-width: 95%;
  max-height: 800px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.4);
  position: relative;
}

.modal-chat-input-box {
  padding: 5px 10px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

.modal-chat-input-box form {
  display: -ms-flexbox;
  display: flex;
}

form.fluid {
  width: 100%;
  display: block;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 17px;
  transition: 0.3s ease-out;
}

.modal-close::after {
  content: "\2716";
  font-size: 20px;
  color: $black;
}

.modal-close:hover {
  cursor: pointer;
  color: $light-grey;
  transform: rotate(180deg);
}

.modal-chat-input-box form input {
  width: 100%;
  padding: 2px 4px;
  margin-left: 5px;
  color: $light-grey;
}

.modal-chat-box-received p,
.modal-chat-box-sent p {
  padding: 0 0;
  margin: 0 0;
  font-size: 0.8rem;
}

.modal-chat-box-received::before {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: inherit;
  width: 10px;
  height: 7px;
  top: -6px;
  left: 2px;
  content: "";
}

.btn-small {
  font-size: 14px;
  padding: 9px 13.5px;
}

.modal-chat-input-box .chat-input {
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 85%;
  padding: 8px 16px;
  border-radius: 10px;
  margin-left: 1rem;
  margin-bottom: 10px;
  transition: 0.3s ease-out;
  border: 0.5px solid $light-grey;
}

.modal-chat-box-received {
  background-color: $background;
  position: relative;
}

input,
input:focus {
  border-color: transparent;
  outline: none;
}

/*media query*/

@media (max-width: 730px) {
  .sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center !important;
    align-items: center;
    height: auto;
    width: auto;
  }

  .navigation {
    width: 100vw;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .container-content,
  .container-content2 {
    width: 90% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5% 5% 0% 5% !important;
  }

  .section-statistic,
  .section-statistic2 {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    width: 80% !important;
  }

  .line-opaq {
    width: 100%;
  }

  .section-title {
    display: flex;
    align-self: center;
    padding: 0px;
    margin: 0px;
  }

  .form-data {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .none {
    display: none !important;
  }

  .img {
    margin: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
  }

  .sidebar {
    height: 100vh;
  }

  .logo {
    align-items: baseline;
  }

  .section-links {
    text-align: left;

    .list {
      margin-left: 0;
    }
  }

  .line {
    text-align: left;
  }

  .chart {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .table-cell,
  .line {
    width: 300px;
  }

  .list {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .line span {
    margin: 2px;
    padding: 0px;
  }
}

@media screen and (max-width: 991px) and (min-width: 731px) {
  .sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center !important;
    height: auto;
    width: 100vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.55);
  }

  .navigation {
    width: auto;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .container-content,
  .container-content2 {
    width: 100% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .section-statistic,
  .section-statistic2 {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .line-opaq {
    width: 100%;
  }

  .section-title {
    display: flex;
    align-self: center;
    padding: 0px;
    margin-top: 1rem;
  }

  .form-data {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .manager {
    display: none;
  }

  .img {
    margin: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
  }

  .sidebar {
    height: 100vh;
  }

  .logo {
    align-items: baseline;
  }

  .section-links {
    text-align: left;

    .list {
      margin-left: 0;
    }
  }

  .line {
    text-align: left;
  }

  .chart {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .table-cell,
  .line {
    width: 300px;
  }

  .container-content2 {
    width: 90% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5% 5% 0% 5% !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .line span {
    margin: 2px;
    padding: 0px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 641px) {
  .sidebar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center !important;
    height: auto;
    width: 100vw;
  }

  .navigation {
    width: auto;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .container-content {
    width: 90% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50% 5% 0% 5% !important;
  }

  .section-statistic {
    display: flex;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    width: 80% !important;
  }

  .line-opaq {
    width: 100%;
  }

  .section-title {
    display: flex;
    align-self: center;
    padding: 0px;
    margin: 0px;
  }

  .form-data {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .manager {
    display: none;
  }

  .img {
    margin: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
  }

  .sidebar {
    height: 100vh;
  }

  .logo {
    align-items: baseline;
  }

  .section-links {
    text-align: left;

    .list {
      margin-left: 0;
    }
  }

  .line {
    text-align: left;
  }

  .chart {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0px;
    margin: 0px;
  }

  .table-cell,
  .line {
    width: 300px;
  }

  .container-content2 {
    width: 90% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5% 5% 0% 1% !important;
  }

  .list {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .line span {
    margin: 2px;
    padding: 0px;
  }
}

